form#edit_admin.form {
  margin-top: 70px;
}
h2.text-center-2 {
  font-family: 'Quicksand', sans-serif;
  margin-top: 60px;
  font-size: 30px;
}
label, p {
  font-family: 'Quicksand', sans-serif;
}
p  {
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}
h3.text-center {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  text-decoration: underline;
}
