// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.single-post-card {
  clear: right;
  min-height: 135px;
  max-height: 135px;
  box-shadow: 1px 1px 4px rgba(0,0,0, 0.3);
  color: black;
  padding: 10px;
  text-align: center;
  transition: border 0.1s, background 0.5s;
  float: right;
  overflow: hidden;
  .post-text {
    overflow: hidden;
    margin-top: 0;
  }
  .more {
    text-decoration: none;
    color: black;
    font-family: 'Quicksand', sans-serif;
    font-size: 12px;
  }
  a, a:active, a:hover {
    color: black;
  }
  &:hover {
    cursor: pointer;
    background: white;
    box-shadow: none;
    border-radius: 1%;
  }
}

.post-content {
  display:block;
}
h3 {
  font-family: 'Quicksand', sans-serif;
  font-size: 14px;
  text-align: center;
}

.solid-color-mode, .border-color-mode {
  .post-text {
    text-align: center;
  }
}

.solid-color-mode {
  .post-text {
    padding: 10px;
    background-color: white;
    border-radius: 25px;
  }
}

.border-color-mode {
  background-color: white;
}
h4.post-text {
  color: black;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-weight: 600;
  text-decoration: underline;

}
