
#single-post-content {
  background: white;
  // margin: 100px, auto;
  height: calc(100vh - 50px);

  h3.card-title {
    text-align: center;
    // margin: 0 auto;
  }

  .posted-by {
    font-size: 12px;
    font-size: 1.2rem;
    margin-top: 150px;
    color: rgba(0,0,0,0.5);
  }
  p.post-body {
    margin-top: 100px;
  }
}
